# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# PyInstaller
# We keep the .spec file since it contains customized build instructions
build/
dist/
releases/

# Local databases
data/*.sqlite
data/*.db
*.sqlite
*.db

# OS files
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
